.App {
    text-align: center;
    background-color:powderblue;
  }

  .cardStyle:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: navy;
    color: white;
   transition: background-color 3s;
 }

 .vsk{
    display:inline-flex;
    margin: 10px 10px 10px 100px;

 }
 .cardAlign{
   justify-content: space-between !important;
 }
 
 /* @media screen and (max-width: 886px) { */
 @media screen and (max-width: 1280px) {
  .cardAlign{
   justify-content: space-around !important;
  }
 } 
  
  body {
    overflow-x: hidden; 
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }

  .hero{
    margin-left: 10px;
  }

  .skill{
      margin-top: 50px;
  }

  .skillset{
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .skillsetcontainer{
    margin-right: 110px;
  }

  .toolscontainer{
    margin-right: 105px;
  }

  .container{
    margin-left: 250px;
    margin-right: 250px;
}

.paper{
    margin-left: 150px;
    margin-right: 150px;
}

.project{
  margin-top: 90px ;
  margin-bottom: -80px;
 
}
.ppaper{
  box-shadow: rgba(0, 0.55, 0, 0.55) 0px 5px 15px;
  color: white;
  width: 650px;
  margin-left: 300px;
  margin-bottom: 100px;
  background-color:beige;
  border: 0.3px solid grey;
  transition: background-color 3s;
}

.resume-text{
  display: block; 
  font-size: 0.7rem; 
  text-align: center; 
}



.col1{
  margin-left: 70px;
  padding: 10px;
  text-align: center;
  width: 100px;
}

.col2{
  padding: 10px;
  text-align: center;
}


/* hero */

.hero{
  width: 100%;
  height:100vh;
  background-size:cover;
}   

.stackhero{
  margin-left: 90px;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 84vh;
  flex-wrap: wrap;
}

.image{
  height: 300px;
  object-fit: cover;
  border: 0px solid;
  border-radius: 60px;
 
}

.paper{
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* about */
.aboutPage{
  width: 100%;
  min-height:100vh;
}

.about{
  margin-left: 270px;
  margin-right: 250px;
}

.aboutheader{
  margin-top: 0px;
  margin-bottom: 25px;
}

.itemcat{
  margin-top: 20px;
  margin-left: 20px;
}

.highlights{
  margin-bottom: 20px;
}

.card{
  
  width: 540px;
  height: 260px;
  margin-top: '5px';
  margin-Bottom:'20px';
  margin-left: -25px;
  
}
.description{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 5px;
  margin-bottom: 20px;
}

.dis{
   
    margin-left: 10px;
    width:280px
   
}

.feature{
  margin-right: 10px;
    width: 300px;
}

.des{
  margin-left: 10px;
  width:280px
}

.fea{
  margin-right: 10px;
  width: 300px;
}

.buttons{
  margin-right: 230px;
  margin-bottom: 10px;
}

.card1:hover{
  box-shadow: rgba(0, 0.55, 0, 0.55) 0px 5px 15px;
  background-color: navy;
  color: white;
 transition: background-color 3s;
 
}

.boxnav{
  margin-left: 600px;
}

.name{
  width: 600px;
  
  
}

.email{
  margin-top: 50px ;
  width: 600px;
 
}

.message{
  width: 600px;
  height: 200px;
  margin-left: 27px;
  margin-bottom: 20px;
}

.form{
  margin-top: 40px ;
  margin-bottom: 40px;
}


.papercontact{
  
  width: 650px;
  margin-left: 300px;
  margin-bottom: 100px;
  
}

.contactpaper{
  margin-top: 30px;
}