.App {
    gap:2%;
    flex-wrap: wrap;
    border:0px solid;
    width:90%;
    margin-right:5%;
    margin-left:5%;
    margin-top:1%;
    margin-bottom:2%;
    text-align: center;
    background-color:powderblue;
   
  }

  .cardStyle:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: navy;
    color: white;
   transition: background-color 3s;
 }

 .vsk{
    display:inline-flex;
    margin: 10px 10px 10px 100px;

 }
 .cardAlign{
   justify-content: space-between !important;
 }

 @media (max-width: 768px) { 
  .content{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero{
    height: 1000px !important;  
  }
  .App{
    text-align: center;
    background-color:powderblue;
    width: 500px;
    height: 90%;
  }
  .about2{
    width:400px;
    margin-left: 30px !important;
  }
  .containerskill{
    margin-left: 160px;
  }
  .highlights{
    width: 100px !important ;
    margin-left: -250px !important;
  }

  .papercontact{
 
    width: 400px !important;
    margin-left: 50px !important;
    margin-bottom: 10px;
  
  }

  .ppaper{
    width: 500px !important;
    height: 1050px ;
  }

  .buttons{
    margin-right: 40px !important;
  }
  .cardimg{
    width:400px !important;
  }
    .col2{
     
      width: 200px !important ;
    }
    
  .card1{
    width: 200px;
    height: 600px;
    font-size: 50px !important;
  }

  .card2{
    width: 200px;
    height: 600px !important;
    font-size: 50px !important;
  }

  .contact{
    height: 700px;
    width: 400px;
  }

  .name{
    width: 350px !important;
    margin-top: 30px !important;
    
  }
  
  .email{
    margin-top: 50px ;
    width: 350px !important;
   
  }

  .message{
    width: 350px !important;
  }

}
 /* end of media query  */






.projects{
  margin-left: -50px;
 
 }

  
  body {
    overflow-x: hidden; 
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }

  .hero{
    margin-left: 10px;
  }

  .skills-tools{
      margin-top: 50px;
  }

  .skillset{
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .skillsetcontainer{
    margin-right: 110px;
  }

  .toolscontainer{
    margin-right: 105px;
  }

  .container{
    margin-left: 250px;
    margin-right: 250px;
}

.paper{
    margin-left: 150px;
    margin-right: 150px;
}

.project{
  margin-top: 40px ;
  margin-bottom: 40px;
  margin-right: -70px;
}
.ppaper{
  box-shadow: rgba(0, 0.55, 0, 0.55) 0px 5px 15px;
  color: white;
  width: 650px;
  margin-left: 300px;
  margin-bottom: 100px;
  background-color:beige;
  border: 0.3px solid grey;
  transition: background-color 3s;
}

.resume-text{
  display: block; 
  font-size: 0.7rem; 
  text-align: center; 
}



.col1{
  margin-left: 70px;
  padding: 10px;
  text-align: center;
  width: 100px;
}

.col2{
  padding: 10px;
  text-align: center;
}


/* hero */

.hero{
  width: 100%;
  height:100vh;
  background-size:cover;
}   

.stackhero{
  margin-left: 90px;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 84vh;
  flex-wrap: wrap;
}

.image{
  height: 300px;
  object-fit: cover;
  border: 0px solid;
  border-radius: 60px;
 
}

.paper{
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* about */
.aboutPage{
  width: 100%;
  min-height:100vh;
}

.about2{
  margin-left: 270px;
  margin-right: 250px;
}

.aboutheader{
  margin-top: 0px;
  margin-bottom: 25px;
}

.itemcat{
  margin-top: 20px;
  margin-left: 20px;
}

.highlights{
  margin-right: -15px ;
  margin-bottom: 20px;
}

.card{
  
  width: 540px;
  height: 260px;
  margin-top: '5px';
  margin-Bottom:'20px';
  margin-left: -25px;
  
}
.description{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 5px;
  margin-bottom: 20px;
}

.dis{
   
    margin-left: 10px;
    width:280px
   
}

.feature{
  margin-right: 10px;
    width: 300px;
}

.des{
  margin-left: 10px;
  width:280px
}

.fea{
  margin-right: 10px;
  width: 300px;
}

.buttons{
  margin-right: 230px;
  margin-bottom: 10px;
}

.card1:hover{
  box-shadow: rgba(0, 0.55, 0, 0.55) 0px 5px 15px;
  background-color: navy;
  color: white;
 transition: background-color 3s;
 
}

.card2:hover{
  box-shadow: rgba(0, 0.55, 0, 0.55) 0px 5px 15px;
  background-color: navy;
  color: white;
 transition: background-color 3s;
 
}

.boxnav{
  margin-left: 10px;
}

.name{
  width: 600px;
  margin-top: 30px !important;
  
}

.email{
  margin-top: 50px ;
  width: 600px;
 
}

.emaildiv{
  margin-top: 30px;
  margin-bottom: 30px;
}

.message{
  width: 600px;
  height: 200px;
  margin-left: 25px;
  margin-bottom: 20px;
}

.form{
  margin-top: 40px ;
  margin-bottom: 40px;
}


.papercontact{
  margin-top: 30px ;
  width: 650px;
  margin-left: 300px;
  margin-bottom: 10px;
  
}

.contact{
  margin-top: 20px;
}

.contactbtn{
  width:100px;
  margin-left: 30px !important;
  margin-bottom: 10px !important;
}

.cardmedia{
  height: 250px;
  width: 400px;
  margin-left: 10px;
  margin-top: -50px;
}

.cardcontent{
  margin-top: 100px;
}

.formtext{
  
  margin-left: 25px !important; 
}

.highlights{
  margin-top: -70px;
  
}

.containerskill{
  margin-right: 130px;
}